body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
main {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}
.logo-image {
    width: 300px;
    height: auto;
}

a {
    padding: 10px 50px;
    border-radius: 15px; 
    background-color: #000000;
    color: #fff;
    text-decoration: none; 
    display: inline-block;
}
header{
    background-color: #b60600;
    color: #fff;
    padding: 20px 0;
    text-align: right;
    margin-bottom: 20px;
}

aside {
    margin-top: 30px;
    margin-bottom: 150px;
    width: 300px;
    padding: 20px;
    color: #fff;
    background-color: #b60600;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #b60600;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}